.search {
  display: flex;
  width: 100%;
  background-color: white;
  gap: 12px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f2f3f5;
  border-radius: 12px;
}

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #f2f3f5;
  border-radius: 12px;
  background-color: white;
  text-align: center;
}
